
#####################################################################
#   Fan Control
#####################################################################

## EBB42 ToolHead - PART COOLING FAN
## Conected to EBB42 - FAN1, Pin: PA0
[fan]
pin: EBBCan:PA0
kick_start_time: 0.600                 # sec (500 milisec)
cycle_time: 0.020                      # 1/50 hertz for Europan
off_below: 0.15

## EBB42 ToolHead - HOTEND FAN
## Conected to EBB42 - FAN2, Pin: PA1
[heater_fan Extruder_Fan]
pin: EBBCan:PA1
heater: extruder
heater_temp: 50.0
max_power: 1.0
kick_start_time: 0.5
cycle_time: 0.020                     # 1/50 hertz for Europan
shutdown_speed: 1
#fan_speed: 1.0

## Cooling for Extruder Motor Nema 17 - Controled by heater Temp
## Conected to Octopus - FAN1, Pin: PE5
[heater_fan Extruder_Nema17]
pin: PE5
heater: extruder
heater_temp: 190.0
fan_speed: 1.0
max_power: 1
kick_start_time: 0.5
cycle_time: 0.020                    # 1/50 hertz for Europan
shutdown_speed: 0 

## Octopus TMC2226 Driver Fan - Controled by heater Temp:
## Conected to Octopus - FAN2, Pin: PD12
[heater_fan TMC2226_Fan]
pin: PD12
heater: extruder
heater_temp: 190.0
fan_speed: 1.0
max_power: 1.0
kick_start_time: 0.5
cycle_time: 0.020                    # 1/50 hertz for Europan
shutdown_speed: 0          

## Btt-Pi FAN
## Conected to BTT-PI - CNC FAN, Pin: gpio211
[temperature_fan Btt-Pi_fan]
pin: Btt-Pi:gpio211
kick_start_time: 0.100
cycle_time: 0.020                    # 1/50 hertz for Europan
shutdown_speed: 0
off_below: 0.2
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 1.0
target_temp: 60


#####################################################################
#   Chamber Exhaust Cooling / Filtering control:
#####################################################################
## Fan Conected to Octopus - slot FAN3 Pin: PD13, FAN4 Pin: PD14 and FAN5 Pin: PD15
## Exhaust Fans will be activated on 100% by hit the target_temp

## Exhaust FANs PIN For Temperature Cooling Chamber Control:
[multi_pin exhaust_fans]
pins: PD13, PD14, PD15

[temperature_fan Chamber]           # Exhaust auto temp control
pin: multi_pin:exhaust_fans
sensor_type: Generic 3950           # Chamber thermistor, conected to T0, pin: PF4
sensor_pin: PF4
target_temp: 35                     # Temperature to which the chamber will be cooled
min_temp: 0
max_temp: 70
min_speed: 0.1
max_speed: 1.0
max_power: 1
off_below: 1.0
shutdown_speed: 0
cycle_time: 0.020
kick_start_time: 1.0
control: watermark
max_delta: 1.0                      # Watermark hysteresis +/- 1°C


## Chamber Macros: 
## Can be adjusted in Prusaslicer --> Filament profile -> Temperature --> Chamber: Nominal: (M141) and Minimum: (M191)

## Macro for set automatic chamber Cooling / Filtering temperature.
## Adjusting via PrusaSlicer: Filament profile -> Temperature --> Chamber --> Nominal: <Your_VALUE>
[gcode_macro M141]
description: Target chamber temperature for automatic cooling/filtering.
gcode:
   {% set target_temp = params.S|default(35)|int %}
   SET_TEMPERATURE_FAN_TARGET temperature_fan="Chamber" target={target_temp}

## Macro for waiting for the chamber to warm up to the minimum temperature for printing.
## Adjusting via PrusaSlicer: Filament profile -> Temperature --> Chamber --> Minimum: <Your_VALUE>

[gcode_macro M191]
description: Wait until the chamber has warmed up to the minimum temperature.
gcode:
   {% set lang = printer.save_variables.variables.lang | int %}
   {% set chamber_temp = printer["temperature_fan Chamber"].temperature |int %}
   {% set bed_temp = printer["gcode_macro start_gcode"].bed_print_temp |int %}
   {% set min_temp = params.S|default(0)|int %}
   {% set temp_text = {1: "🌡️ Waiting for the minimum temperature in the chamber. Current:",
                       2: "🌡️ Čekání na minimální teplotu v komoře. Aktuální:",
                       3: "🌡️ Warten auf die Mindesttemperatur in der Kammer. Aktuell:"}.get(lang, "Temp waiting, Current:") %}	
   {% set expected_text = {1: "Expected:", 2: "Očekávaná:", 3: "Erwartet:"}.get(lang, "Expected:") %}
   {% if min_temp > chamber_temp and min_temp < 40 %}                                                     # The maximum waiting temperature setting in the chamber is 40°C.
      M117 {{1: "Temp waiting...", 2: "Cekam na ohrev", 3: "Temp warten..."}.get(lang, "Temp waiting")}
      M118 {temp_text} {chamber_temp}°C, {expected_text} {min_temp}°C
      M141 S70                                                                                            # Raising the Chamber fans cooling temperature, at 70 max. for no cooling.
      M104 S55                                                                                            # Small E target temp, for keep alive toolhead fans to cool electronics (E heatsing with near BLTouch + nema17 and EBB42).
      M140 S100                                                                                           # Set Bed temperature target for chamber heating, 100°C, no wait.
      TEMPERATURE_WAIT SENSOR='temperature_fan Chamber' MINIMUM={min_temp}                                # Command to wait for chamber temperature.
      M140 S{bed_temp}                                                                                    # Restore target Bed temperature to print temperature, no wait.
   {% endif %}


