
#####################################################################
#   Fan Control
#####################################################################

## EBB42 ToolHead - PART COOLING FAN (Turbo Fan 4020)
## Conected to EBB42 - FAN1, Pin: PA0
[fan]
pin: EBBCan:PA0
kick_start_time: 0.600                 # sec (500 milisec)
cycle_time: 0.020                      # 1/50 hertz for Europan
off_below: 0.15

## EBB42 ToolHead - HOTEND Heatsink FAN (Fan 3010)
## Conected to EBB42 - FAN2, Pin: PA1
[heater_fan Extruder_Fan]
pin: EBBCan:PA1
heater: extruder
heater_temp: 50.0
max_power: 1.0
kick_start_time: 0.5
cycle_time: 0.020                     # 1/50 hertz for Europan
shutdown_speed: 1
#fan_speed: 1.0

## Cooling for Extruder stepper motor and EBB42
## Conected to Octopus! - FAN1, Pin: PE5
## Automatically controlled by heater Temp
[heater_fan Extruder_Nema17]
pin: PE5
heater: extruder
heater_temp: 190.0
fan_speed: 1.0
max_power: 1
kick_start_time: 0.5
cycle_time: 0.020                    # 1/50 hertz for Europan
shutdown_speed: 0 

## Octopus TMC2226 Driver Fan
## Conected to Octopus - FAN2, Pin: PD12
## Automatically controlled by heater Temp
[heater_fan TMC2226_Fan]
pin: PD12
heater: extruder
heater_temp: 190.0
fan_speed: 1.0
max_power: 1.0
kick_start_time: 0.5
cycle_time: 0.020                    # 1/50 hertz for Europan
shutdown_speed: 0          

## Btt-Pi FAN
## Conected to BTT-PI - CNC FAN, Pin: gpio211
[temperature_fan Btt-Pi_fan]
pin: Btt-Pi:gpio211
kick_start_time: 0.100
cycle_time: 0.020                    # 1/50 hertz for Europan
shutdown_speed: 0
off_below: 0.2
max_power: 1.0
#fan_speed: 0.6
sensor_type: temperature_host
control: pid
min_temp: 0
max_temp: 85
#max_delta: 5.0
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
min_speed: 0.1
max_speed: 1.0
target_temp: 60


#####################################################################
#   Chamber Exhaust Cooling / Filtering control:
#####################################################################
## Exhaust Fans will be activated on 100% by hit the target_temp
## 3x Fans Conected to Octopus:
##    ● FAN3 Pin: PD13
##    ● FAN4 Pin: PD14
##    ● FAN5 Pin: PD15
## Chamber thermistor (for cooling), conected to Octopus board:
##    ● T0, pin: PF4

## Exhaust fans multi-pin for temperature cooling chamber control:
[multi_pin exhaust_fans]
pins: PD13, PD14, PD15

[temperature_fan chamber_cooling]           # Exhaust auto temp control
pin: multi_pin:exhaust_fans
sensor_type: Generic 3950
sensor_pin: PF4
target_temp: 0                     # Temperature to which the chamber will be cooled
min_temp: 0
max_temp: 80
min_speed: 0.1
max_speed: 1.0
max_power: 1
off_below: 1.0
shutdown_speed: 0
cycle_time: 0.020
kick_start_time: 1.0
control: watermark
max_delta: 1.0                      # Watermark hysteresis +/- 1°C

## Macro for set automatic chamber Cooling / Filtering temperature.
## Adjusting via PrusaSlicer: Filament profile -> Temperature --> Chamber --> Nominal: <Your_VALUE>

[gcode_macro M141]
description: Target chamber temperature for automatic cooling/filtering.
gcode:
   {% set lang = printer.save_variables.variables.lang | default(1) | int %}
   {% set current_target = printer["temperature_fan chamber_cooling"].target | int %}
   {% set set_target = params.S|default(0)|int %}
   {% set heater_active = printer["heater_generic chamber_heater"].target > 0 %}
   {% if heater_active and set_target > 0 %}
      M118 {{1:"⚠️ Chamber heating is active – cooling skipped.",
             2:"⚠️ Probíhá ohřev komory – chlazení přeskočeno.",
             3:"⚠️ Kammerheizung aktiv – Kühlung übersprungen."}.get(lang)}
   {% else %}
      {% if current_target != set_target %}   # False for M141 S0 = M141 S0, True for M141 S30 != M141 S0 
         SET_TEMPERATURE_FAN_TARGET temperature_fan="chamber_cooling" target={set_target}
         {% if set_target > 0 %}
            M118 {{1:"❄️ Chamber cooling set to", 2:"❄️ Chlazení komory nastaveno na", 3:"❄️ Kammerkühlung eingestellt auf"}.get(lang, "❄️ Chamber cooling set to")} {set_target}°C
         {% else %}
            M118 {{1:"❄️ Chamber cooling disabled.", 2:"❄️ Chlazení komory vypnuto.", 3:"❄️ Kammerkühlung deaktiviert."}.get(lang, "❄️ Chamber cooling disabled.")}
         {% endif %}
      {% endif %}
   {% endif %}


#####################################################################
#   PCT Chamber Heater (~230V AC, 300W):
#####################################################################
## Maximum bed temperature 110°C (according to manufacturer)
## SSR (Solid State Relay) and PTC heaters (with fan) power supply wiring: 
##    ● ~230V L (Line) cable is connected to SSR INPUT on AC side. SSR AC OUTPUT is connected to PTC heater´s L.
##    ● ~230V N (Neutral) cable from PTC heater´s N is connected to neutral cable.
##
## SSR (Solid State Relay) logic wiring on 24V DC side:
##    ● + 24V conected to HE0 24V
##    ● - 24V conected to HE0 PA2
##
## Separate chamber thermistor (for heating) connecteed to Octopus board: 
##    ● T1, pin: PF5

[heater_generic chamber_heater]
heater_pin: PA2
sensor_type: Generic 3950
sensor_pin: PF5
control: pid                    # For PID calibrate: Bed 90°C, PID target 45°C (for ASA filament preset)
pid_Kp: 73.387 
pid_Ki: 0.384 
pid_Kd: 3508.813
pwm_cycle_time: 0.3             # Do not set lower, the PTC´s fan will not have time to spin
max_power: 1.0
min_temp: 0
max_temp: 70

[verify_heater chamber_heater]
max_error: 480                  # In second of temperature counter out of range to display error, default 120
check_gain_time: 180
hysteresis: 10
heating_gain: 0.2

## Macro for waiting for the chamber to warm up to the minimum temperature for printing.
## Adjusting via PrusaSlicer: Filament profile -> Temperature --> Chamber --> Minimum: <Your_VALUE>

[gcode_macro M191]
description: Chamber heating ON and Wait (Until the chamber has warmed up to the minimum temperature).
gcode:
   {% set lang = printer.save_variables.variables.lang | default(1) | int %}
   {% set state = printer.print_stats.state | string %}
   {% set cooling_target = printer["temperature_fan chamber_cooling"].target | int %}
   {% set chamber_temp = printer["heater_generic chamber_heater"].temperature | int %}
   {% set current_target = printer["heater_generic chamber_heater"].target | int %}
   {% set min_temp = params.S|default(0)|int %}
   {% set extruder_target_temp = printer.extruder.target | int %}
   {% set fan_speed = ((printer.fan.speed |float|round(2)) * 255) | int %}
   {% set temp_text = {1: "🌡️ Waiting for the minimum temperature in the chamber. Current:",
                       2: "🌡️ Čekání na minimální teplotu v komoře. Aktuální:",
                       3: "🌡️ Warten auf die Mindesttemperatur in der Kammer. Aktuell:"}.get(lang) %}
   {% set expected_text = {1: "Expected:", 2: "Očekávaná:", 3: "Erwartet:"}.get(lang) %}

   {% if min_temp > 0 %}
      {% if cooling_target > 0 %}
         M118 ❄️ {{1:"Disabling cooling for chamber preheat", 
                   2:"Vypínám chlazení kvůli předehřevu komory", 
                   3:"Kühlung deaktiviert für Kammeraufheizung"}.get(lang, "Disabling cooling for chamber preheat")}
      {% endif %}
      SET_TEMPERATURE_FAN_TARGET temperature_fan="chamber_cooling" target=0
   {% endif %}
   
   SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={min_temp}

   {% if min_temp > 60 %}
      Park_Toolhead
      M118 {{1: "⚠🌡️ The maximum adjustable waiting temperature for the chamber is limited to 60°C - Temperature waiting set to 60°C",
             2: "⚠🌡️ Maximální nastavitelná teplota čekání pro komoru je limitována 60°C - Teplotní čekání nastaveno na 60°C",
             3: "⚠🌡️ Die maximal einstellbare Wartetemperatur der Kammer ist auf 60C begrenzt - Temperaturwartezeit auf 60°C eingestellt."
             }.get(lang, "⚠🌡️ The maximum adjustable waiting temperature for the chamber is limited to 60°C - Temperature waiting set to 60°C")}
      M104 S51                           # Set minimum extruder heating for its fans ON during heating procedures (to keep the inside of the extruder cool).
      M106 S77                           # Set Part cooling  fan ON at 30% during heating procedures (to keep the inside of the extruder cool).
      TEMPERATURE_WAIT SENSOR="heater_generic chamber_heater" MINIMUM=60
      M106 S{fan_speed}
      M104 S{extruder_target_temp}
   {% elif min_temp > chamber_temp %}
      Park_Toolhead
      M117 {{1:"Temp waiting...", 2:"Cekam na ohrev", 3:"Temp warten..."}.get(lang)}
      M118 {temp_text} {chamber_temp}°C, {expected_text} {min_temp}°C
      M104 S51                           # Set minimum extruder heating for its fans ON during heating procedures (to keep the inside of the extruder cool).
      M106 S77                           # Set Part cooling  fan ON at 30% during heating procedures (to keep the inside of the extruder cool).
      TEMPERATURE_WAIT SENSOR="heater_generic chamber_heater" MINIMUM={min_temp}
      M106 S{fan_speed}
      M118 {{1: "🌡️ Heating the extruder back to",
             2: "🌡️ Nahřívám extrudér zpět na",
             3: "🌡️ Den Extruder wieder auf"
             }.get(lang, "🌡️ Heating the extruder back to")} {extruder_target_temp}°C...
      M104 S{extruder_target_temp}
      TEMPERATURE_WAIT SENSOR=extruder MINIMUM={extruder_target_temp}
   {% elif min_temp == 0 and current_target > 0 %}
      M118 {{1: "🌡️ Chamber heating disabled.",
             2: "🌡️ Ohřev komory vypnut.",
             3: "🌡️ Kammerheizung deaktiviert."
             }.get(lang, "🌡️ Chamber heating disabled.")}
   {% elif min_temp != 0 and min_temp <= chamber_temp %}
      M118 {{1: "🌡️✅ Chamber already at required temperature.",
             2: "🌡️✅ Komora již na požadované teplotě.",
             3: "🌡️✅ Kammer hat bereits die gewünschte Temperatur."
             }.get(lang, "🌡️✅ Chamber already at required temperature.")}
   {% endif %}

   {% if 0 < min_temp <= 30 and (state == "printing" or state == "paused") %}
      M118 {{1: "🌡️ Chamber heating disabled. For low chamber temperatures (chamber < 30°C), passive heating via the heated bed will be sufficient.",
             2: "🌡️ Ohřev komory vypnut. Pro tisk s nižší teplotou v komoře (komora < 30°C) bude dostačující pasivní dohřev pomocí vyhřívané podložky.",
             3: "🌡️ Kammerheizung deaktiviert. Für niedrige Kammertemperaturen reicht (kamer < 30°C) die passive Erwärmung durch das beheizte Bett aus."
             }.get(lang)}
   SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=0
   {% endif %}

