###########################################################
#      In PrusaSlicer add to:                             #
###########################################################
##  ● Start G-code:
##      SET_PRINT_STATS_INFO TOTAL_LAYER=[total_layer_count]
##      print_msg_info SETTINGS="[print_settings_id]" FILAMENT=[filament_type] EXT_TMP=[temperature] BED_TMP=[bed_temperature] CHAMBER_MIN_TMP=[chamber_minimal_temperature]
##      start_gcode BED_TMP=[first_layer_bed_temperature] EXT_TMP=[first_layer_temperature] CHAMBER_COOLING=[chamber_temperature] CHAMBER_MIN_TMP=[chamber_minimal_temperature]
##
##  ● End G-code:
##      end_gcode


###########################################################
#      In SuperSlicer add to:                             #
###########################################################
##  ● Start G-code:
##      SET_PRINT_STATS_INFO TOTAL_LAYER=[total_layer_count]
##      print_msg_info SETTINGS="[print_settings_id]" FILAMENT=[filament_type] EXT_TMP=[temperature] BED_TMP=[bed_temperature] CHAMBER_MIN_TMP=[chamber_temperature]
##      start_gcode BED_TMP=[first_layer_bed_temperature] EXT_TMP=[first_layer_temperature] CHAMBER_MIN_TMP=[chamber_temperature]
##
##  ● End G-code:
##      end_gcode


###########################################################
#      In Orca add to:                                    #
###########################################################
##  ● Start G-code:
##      SET_PRINT_STATS_INFO TOTAL_LAYER=[total_layer_count]
##      print_msg_info SETTINGS="[print_settings_id]" FILAMENT=[filament_type] EXT_TMP=[temperature] BED_TMP=[bed_temperature] CHAMBER_MIN_TMP=[chamber_temperature]
##      start_gcode BED_TMP=[first_layer_bed_temperature] EXT_TMP=[first_layer_temperature] CHAMBER_COOLING=[during_print_exhaust_fan_speed] CHAMBER_MIN_TMP=[chamber_temperature]
##
##  ● End G-code:
##      end_gcode


###########################################################
#      Start print message info:
###########################################################

[gcode_macro print_msg_info]
description: Check/info Message on print start.
gcode:
   {% set lang = printer.save_variables.variables.lang | default(1) | int %}
   {% set filament = params.FILAMENT | default("None") | string %}
   {% set settings = params.SETTINGS | default("None") | string %}
   {% set bed_temp = params.BED_TMP | default(0) | int %}
   {% set ext_temp = params.EXT_TMP | default(0) | int %}
   {% set cooling_temp = params.CHAMBER_COOLING | default(0) | int %}
   {% set heating_temp = params.CHAMBER_MIN_TMP | default(0) | int %}
   
   {% set prefix_bold = '<span style="color:rgb(255,193,7); font-weight:bold">' %}
   {% set prefix = '<span style="color:rgb(255,193,7)">' %}
   {% set suffix = '</span>' %}
   
   {% set part1 = {1:"Preparing the printer for printing:", 2:"Připravuji tiskárnu na tisk:", 3:"Drucker zum Drucken vorbereiten:"}.get(lang, "Preparing the printer for printing:") %}
   {% set part2 = {1:"● Print Settings: ", 2:"● Nastavení tisku: ", 3:"● Druckeinstellungen: "}.get(lang, "● Print Settings: ") %}
   {% set part3 = {1:"● Chamber: ", 2:"● Komora: ", 3:"● Kammerheizung: "}.get(lang, "● Chamber: ") %}
   
   M118 {prefix_bold}{part1}{suffix}<br>{prefix}{part2}{suffix}{settings}<br>{prefix}● Filament: {suffix}{filament}<br>{prefix}● Extruder: {suffix}{ext_temp}°C<br>{prefix}● Bed: {suffix}{bed_temp}°C<br>{prefix}{part3}{suffix}{heating_temp}°C


###########################################################
#      Start Gcode:
###########################################################

[gcode_macro start_gcode]
description: Gcode at the start of printing.
gcode:
   {% set lang = printer.save_variables.variables.lang | default(1) | int %}
   {% set bed_temp = params.BED_TMP | default(50) | int %}                      
   {% set ext_temp = params.EXT_TMP | default(200) | int %}
   {% set cooling_temp = params.CHAMBER_COOLING | default(0) | int %}
   {% set heating_temp = params.CHAMBER_MIN_TMP | default(0) | int %}
   {% set xy_speed = (printer.configfile.config.stepper_x.homing_speed | float) * 60 | int %}
   {% set z_speed = (printer.configfile.config.stepper_z.homing_speed | float) * 60 | int %}
   SET_LED LED=extruder RED=0.0 GREEN=0.09 BLUE=0.0 WHITE=0.0 INDEX=1   # Extruder status led
   CLEAR_PAUSE 
   BED_MESH_CLEAR
   M104 S140                      # Set the extruder target temperature to 140°C (No wait, for bed calibrate processes)
   G28

   Quick_Nozzle_Clean             # Quick clean nozzle before bed Z Tild measuring
   M117 {{1: "Bed tilt adjust.", 2: "Rovnani podlozky", 3: "Bett neigungsve."}.get(lang, "Bed tilt adjust.")}  
   M118 {{1: "Bed tilt adjusting...", 2: "Vyrovnávám náklon podložky...", 3: "Bett neigungsverstellung..."}.get(lang, "Bed tilt adjusting...")}
   Z_TILT_ADJUST

   M73 P0                         # Informs other applications about printing progress (For example, Obico in percentage)
   G90                            # XYZ Absolute
   G1 Y251.5 Z10 F{xy_speed}      # Move the extruder to backward (away from the bed) while the bed heats up (♞ Chess knight movement style).
   G1 X73 F{xy_speed}
   G1 Z40 F{z_speed}              # Move the bed down (away from the Extruder) while the bed heats up.
   M141 S0                        # Set chamber Cooling OFF during heating procedures.
   M400                           # Wait for current moves to finish, for right timing of messages below  
   M117 {{1: "Bed heating...", 2: "Nahrivam podlozku", 3: "Bettheizung..."}.get(lang, "Bed heating")}  
   M118 {{1: "🔥 Bed heating to", 2: "🔥 Nahřívám podložku na", 3: "🔥 Bettheizung auf"}.get(lang, "🔥 Bed heating to")} {bed_temp}°C...
   M190 S{bed_temp}               # Heat Bed to print temp and wait
   M191 S{heating_temp}           # Set heating and Wait for the chamber to warm up (only if set).

   M117 Bed Mesh Leveling...
   M118 Bed Mesh Leveling...
   BED_MESH_CALIBRATE             # Bed Mesh Leveling by 3D Touch 

   Park_Toolhead                  # Front park position
   M400                           # Wait for current moves to finish, for right timing of messages below   
   M117 {{1: "Final E heating", 2: "Finalni E ohrev", 3: "Final E heizung"}.get(lang, "Final E heating")}  
   M118 {{1: "🔥 Final nozzle heating to", 2: "🔥 Finální nahřívání trysky na", 3: "🔥 Abschließende Düsenerwärmung auf"}.get(lang, "🔥 Final nozzle heating to")} {ext_temp}°C...
   M109 S{ext_temp}               # Final extruder heating for printing temperature and waiting

   G90                            # XYZ Absolute
   G1 Z0.8 F{z_speed}             # Z down
   G92 E0                         # Set E position to 0, reset
   G1 E40 F180                    # Fill the nozzle and cut the filament off by the edge of the bed using a move it to the beginning of the print point.

   M400                           # Wait for current moves to finish, for right timing of messages below
   M141 S{cooling_temp}           # Exhaust chamber Cooling / Filtration during printing.
   M117 {{1: "Printig!", 2: "Tisknu!", 3: "Drucken!"}.get(lang, "Printig!")}  
   M118 {{1: "🚀🏁 Printig!", 2: "🚀🏁 Tisknu!", 3: "🚀🏁 Drucken!"}.get(lang, "🚀🏁 Printig!")}
   G92 E0


###########################################################
#      End Gcode:
###########################################################

[gcode_macro end_gcode]
description: Gcode at the end of printing.
gcode:
   {% set lang = printer.save_variables.variables.lang | default(1) | int %}
   {% set filament_type = params.FILAMENT | default("None") | string %}
   SET_LED LED=extruder RED=0.0 GREEN=0.0 BLUE=0.0 WHITE=0.09 INDEX=1    # Extruder status led
   nozzle_led_off                 # Extruder nozzle led Off

   G91                            # Relative XYZ
   G92 E0                         # Set E position to 0, reset
   G1 E-2 F1200                   # Retract the filament (-2mm)
   G1 X2 F2400                    # Wipe Nozzle (2mm to right)
   G1 X-4.24 Y4.24 Z0.3 F2400     # 3 degrees Ramp Move: 6mm diagonal (left and back direction)
   G1 Z10 F600                    # Z Hop 10mm

   BED_MESH_CLEAR                 # from now no adjustment in the Z axis when toolhed is moving
   SET_GCODE_OFFSET Z=0.0         # Reset any set Z offset back to 0 (if set in the Slicer for ASA for example)
   TURN_OFF_HEATERS               # All Heaters OFF

   M117 {{1: "Printing done!", 2: "Tisk dokoncen!", 3: "Drucken fertich!"}.get(lang, "Printing done!")}  
   M118 {{1: "🪂🏁 Printing done!", 2: "🪂🏁 Tisk dokončen!", 3: "🪂🏁 Drucken fertich!"}.get(lang, "🪂🏁 Printing done!")}
   UPDATE_DELAYED_GCODE ID=clear_display DURATION=25

   G90                            # Absolute XYZ
   G28 X                          # Recheck the X Home position (for safety, if layer shifting etc).
   G1 X-5 F2000                   # Move away from endstop (1 mm from X endstop)
   M400                           # Wait for current moves to finish, for right timing of messages below  
   G28 Y                          # Recheck the Y Home position (for safety, if layer shifting etc).
   G1 Y250 F2000                  # Move away from endstop
   M84                            # Steppers Off
   M73 P100                       # Informs other applications about printing progress (For example, Obico in percentage)

   # alert_beep                   # To activate the M300 Beeper play at the end of the print.
   # M141 S25                     # Example of Exhaust fans ON for filtration at the end of printing (S25 = Chamber cooling set to 25°C, It will automatically turn off after the idle timeout).
   ACTIVATE_POWER_OFF             # Printer OFF (directly command, or you can use as a gcode macro button during printing).



   